.card-area {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    background-color: lightgray;
    width: 425px;
    height: 275px;
    border-radius: 15px;
    flex-direction: column;
    margin: 15px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.title {
    display: flex;
    justify-content: center;
    height: 90px;
}
h1 {
    color: darkslategrey;
    font-size: 40px;
}
.content {
    display: flex;
    flex-direction: row;
}
.photo-area {
    position: relative;
    width: 225px;
    padding-left: 20px;
}
.photo {
    width: 170px;
    height: 170px;
    border-radius: 25px;
}
.health {
    position: absolute;
    height: 60px;
    opacity: 0.6;
}
h3 {
    font-size: 20px;
}
.info {
    width: 250px;
    height: 175px;
    padding-left: 30px;
}
h2 {
    color: darkslategrey;
    font-size: 27px;
}
p {
    color: darkslategrey;
    font-size: 18px;
}